li {
    list-style: circle;
}
  
.list {
    list-style: square;
}
  
#msg {
    font-family: monospace;
}

.topnav .login-container button:hover {
  background-color: green;
}

.upload{
  padding-top: 3%;
}

.search-bar{
  position: relative;
  width: 13%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1px;
  width: 10%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table{
  position: relative;
  top: 5px;
}